<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Program Ksiegowy</H1>
<H1>Historia</H1>
<a href="{{ url_for('home') }}">Powrót</a>

<ul>
    {% for op in operacje %}
        <li>
            <strong>Typ operacji:</strong> {{ op.typ }} <br>
            <strong>Produkt:</strong> {{ op.produkt.nazwa }} <br>
            Cena: {{ op.produkt.cena }} zł <br>
            Ilość: {{ op.produkt.ilosc }}
        </li>
        <br>
    {% endfor %}
</ul>
</body>
</html>