<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Magazyn</h1>
<table>
    <tr>
        <td>
            <label>Konto</label>
            <p>{{konto}} </p>
        </td>
        <td>
    </tr>
    <tr class="active">
        <th>Nazwa</th>
        <th>Ilosc</th>
        <th>Cena</th>
    </tr>

    {% for przedmiot in magazyn %}
    <tr>
        <td>{{ przedmiot.nazwa }}</td>
        <td>{{ przedmiot.ilosc }}</td>
        <td>{{ przedmiot.cena }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>