<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Program Księgowy</title>
</head>
<body>
    <label>Zakup </label>
    <form>
        <label for="buyName">Nazwa: </label>
        <input id="buyName" type="text">
        <label for="buyPrice">Cena: </label>
        <input id="buyPrice" type="number">
        <label for="buyQuantity">:Ilość </label>
        <input type="text" name="" id="buyQuantity">
        <input type="submit" value="Submit">
    </form>
    <label>Sprzedarz</label>
    <form>
        <label for="sellName">Nazwa: </label>
        <input id="sellName" type="text">
        <label for="sellPrice">Cena: </label>
        <input id="sellPrice" type="number">
        <label for="sellQuantity">:Ilość </label>
        <input type="text" name="" id="sellQuantity">
        <input type="submit" value="Submit">
    </form>
    <label>Konto</label>
    <form>
        <label for="Wplata">:Podaj ile chcesz wplacić </label>
        <input id="Wplata" type="text">
        <label for="Wyplata">:Podaj ile chcesz wyplacic </label>
        <input id="Wyplata" type="number">
    </form>

</body>
</html>