<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Program Księgowy</title>
</head>
<body>
    <H1>Program Ksiegowy</H1>
    <a href="History.html">Historia</a>
    <H4>Zakup</H4>
    <form>
        <label for="buyName">Nazwa: </label>
        <input id="buyName" type="text"><br>
        <label for="buyPrice">Cena: </label>
        <input id="buyPrice" type="number"><br>
        <label for="buyQuantity">Ilość: </label>
        <input type="text" name="" id="buyQuantity"><br>
        <input class="submit" type="submit"  value="Zatwierdz">
    </form>
    <H4>Sprzedarz </H4>
    <form>
        <label for="sellName">Nazwa: </label>
        <input id="sellName" type="text"><br>
        <label for="sellPrice">Cena: </label>
        <input id="sellPrice" type="number"><br>
        <label for="sellQuantity">Ilość :</label>
        <input type="text" name="" id="sellQuantity"><br>
        <input class="submit" type="submit" value="Zatwierdz">
    </form>
    <H4>Konto</H4>
    <form>
        <label for="Wplata">Podaj ile chcesz wplacić </label>
        <input id="Wplata" type="text"><br>
        <label for="Wyplata">Podaj ile chcesz wyplacic </label>
        <input id="Wyplata" type="number"><br>
        <input class="submit" type="submit" value="Zatwierdz">
    </form>

</body>
</html>