label{
    padding: 6px;

}
.submit{
    border-radius: 20px;
    background-color: steelblue;
}
form{
    border: 1px solid black;
    border-collapse: collapse;

}
#forms{

    align-self: center;
    display: flex;                    /* włącz flexbox */
    justify-content: space-between;

}
#header{
    display: flex;
    font-style: oblique;
    font-weight: bold;
    font-palette: light;
    background: steelblue;
    color: white;
}


