<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Przycisk CSS</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" ></script>
    <script src="../static/victoryLines.js" ></script>
    <script src="../static/checkWinner.js" ></script>

</head>
<body>
    <h1>Kółko i krzyżyk</h1>
    <h1 id="result"></h1>
    <button id="reset">Reset</button>
    <table id="gameBoard" style="align: center">
<!--    <tr>-->
<!--        <td><button id="1" class="my-btn">{{state1}}</button></td>-->
<!--        <td><button id="2" class="my-btn"> {{state2}}</button></td>-->
<!--        <td><button id="3" class="my-btn">{{state3}}</button></td>-->
<!--    </tr>-->
<!--        <tr>-->
<!--        <td><button  id="4" class="my-btn">{{state4}}</button></td>-->
<!--        <td><button  id="5" class="my-btn">{{state5}}</button></td>-->
<!--        <td><button  id="6" class="my-btn">{{state6}}</button></td>-->
<!--    </tr>-->
<!--        <tr>-->
<!--        <td><button  id="7" class="my-btn">{{state7}}</button></td>-->
<!--        <td><button  id="8" class="my-btn">{{state8}}</button></td>-->
<!--        <td><button  id="9" class="my-btn">{{state9}}</button></td>-->
<!--    </tr>-->
    </table>
</body>
</html>
